@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 15px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.left-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px
}

.right-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px
}

.right-links a {
  text-decoration: none;
  color:black
}

.left-links a {
  text-decoration: none;
  color:black
}

.footer {
  display: flex;
  background-color: #ddd;
  justify-content: space-between;
  padding: 10px;
}