body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 100px;
  background: darkmagenta;
  color: white;
  font-weight:bold;
  font-size: 20pt;
  padding: 20px;
  display: flex;
  align-items: center;}

.bar-and-boxes {
display: flex;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  color:#eee;
  flex-shrink: 0;
}

.sidebar ul {
  list-style: none; 
  margin: 0;       
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sidebar li a {
  text-decoration: none; 
  color: inherit;
}

.epic-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 40px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  padding: 20px;
  width: 300px
}


.footer{
  height: 72px;
  padding:10px;
  font-weight: 500;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}