body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 600px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  font-weight: 800;
  font-size: 20px;
}